@font-face {
    font-family: 'Riemann Theatre';
    src: url('../fonts/RiemannTheatre.woff2') format('woff2'),
        url('../fonts/RiemannTheatre.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Great Attraction';
    src: url('../fonts/GreatAttraction.woff2') format('woff2'),
        url('../fonts/GreatAttraction.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Emerald Grey';
    src: url('../fonts/EmeraldGrey.woff2') format('woff2'),
        url('../fonts/EmeraldGrey.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Midnight Champion';
    src: url('../fonts/MidnightChampion.woff2') format('woff2'),
        url('../fonts/MidnightChampion.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Ranger';
    src: url('../fonts/SpaceRanger.woff2') format('woff2'),
        url('../fonts/SpaceRanger.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Friday13';
    src: url('../fonts/Friday13.woff2') format('woff2'),
        url('../fonts/Friday13.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mandalore';
    src: url('../fonts/Mandalore.woff2') format('woff2'),
        url('../fonts/Mandalore.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Feast of Flesh BB';
    src: url('../fonts/FeastofFleshBB.woff2') format('woff2'),
        url('../fonts/FeastofFleshBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CSNPWDT NFI';
    src: url('../fonts/CSNPWDTNFI.woff2') format('woff2'),
        url('../fonts/CSNPWDTNFI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Airstrike';
    src: url('../fonts/Airstrike.woff2') format('woff2'),
        url('../fonts/Airstrike.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
