@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import 'util';

.poster-image-block {
    width: 100%;
    height: 60px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.active {
    color: #888;
}
