a {
    transition: color 0.2s ease;
}

.active {
    color: #888;
}

button {
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

[x-cloak=''] {
    display: none;
}

.show {
    display: block;
}

@media screen and (max-width: theme('screens.lg')) {
    [x-cloak='lg'] {
        display: none;
    }
}
